In [1]:
%config IPCompleter.greedy=True
import pandas as pd
import numpy as np
from random import choice
import math

In [2]:
data = pd.read_csv('agaricus-lepiota.data')

In [72]:
def hamming_distance_and_choose_cluster(row, cluster_modes):
    distances = np.array([])
    for cluster_mode in cluster_modes:
        distances = np.append(distances, row.eq(cluster_mode).value_counts().get(False, 0))
    return np.argmin(distances)

def hamming_distance_and_choose(data, cluster_modes):
    clusters = []
    for idx, cluster_mode in enumerate(cluster_modes):
        clusters.append('c' + str(idx))
        data['c' + str(idx)] = data.ne(cluster_mode, axis = 0).sum(1)
    data['cluster'] = data.loc[:, clusters].idxmin(axis = 1)
    return data

In [4]:
#calculate cluster modes after cluster assignment
def calculate_cluster_modes(data, number_of_clusters):
    cluster_modes = []
    for i in range(number_of_clusters):
        mode = data[data['cluster'] == i].mode()
        mode.drop('cluster', 1, inplace=True, errors='ignore')
        cluster_modes.append(mode.loc[0])
    return cluster_modes

In [5]:
#for termination condition
def cluster_sets_are_equal(cluster_modes, new_cluster_modes):
    if(len(cluster_modes) != len(new_cluster_modes)):
        return False
    for i in range(len(cluster_modes)):
        if not cluster_modes[i].equals(new_cluster_modes[i]):
            return False
    return True

In [75]:
def k_mode_clustering(data, number_of_clusters):
    cluster_centroids = []
    already_chosen_clusters = []
    clusters = {}
    df_with_cluster = data.copy()
    df_with_cluster.drop('p', 1, inplace=True)
    
    #for random centroids, remove the rows with missing values
    #data_without_missing_values = df_with_cluster[df_with_cluster['e.1'] != '?'].reset_index()
    
    #chose random centroids
    rows = len(df_with_cluster)
    i = 0
    while i < number_of_clusters:
        rand_index = choice([i for i in range(rows) if i not in already_chosen_clusters])
        value = df_with_cluster.loc[rand_index]
        if value['e.1'] == '?':
            continue
        already_chosen_clusters.append(rand_index)
        cluster_centroids.append(df_with_cluster.loc[rand_index])
        i += 1
    new_cluster_centroids = []
    
    df_with_cluster = hamming_distance_and_choose(df_with_cluster, cluster_centroids)
    return df_with_cluster
    iteration = 0
    while not cluster_sets_are_equal(cluster_centroids, new_cluster_centroids):
        print('On iteration number: {}'.format(iteration))
        new_cluster_centroids = cluster_centroids
        df_with_cluster.drop('cluster', 1, inplace=True, errors='ignore')
        #df_with_cluster['cluster'] = df_with_cluster.apply(hamming_distance_and_choose_cluster, args=[new_cluster_centroids], axis=1)
        df_with_cluster = hamming_distance_and_choose(df_with_cluster, new_cluster_centroids)
        cluster_centroids = calculate_cluster_modes(df_with_cluster, number_of_clusters)
        
        if(iteration == 0):
            for i, acc in enumerate(already_chosen_clusters):
                mask = (df_with_cluster['e.1'] == '?') & (df_with_cluster['cluster'] == i)
                df_with_cluster.loc[mask, 'e.1'] = df_with_cluster.loc[acc]['e.1']
            
        print(len(df_with_cluster[df_with_cluster['e.1'] == '?']))
        iteration += 1

    df_with_cluster.to_csv('prediction.csv')
    return df_with_cluster

In [76]:
res = k_mode_clustering(data, 18)

ValueError: attempt to get argmin of an empty sequence

In [13]:
res['e.1'].unique()

array(['c', 'e', 'b', 'r'], dtype=object)

In [17]:
data

      p  x  s  n  t p.1  f  c n.1  k  ... s.2  w w.1 p.2 w.2  o p.3 k.1 s.3  u
0     e  x  s  y  t   a  f  c   b  k  ...   s  w   w   p   w  o   p   n   n  g
1     e  b  s  w  t   l  f  c   b  n  ...   s  w   w   p   w  o   p   n   n  m
2     p  x  y  w  t   p  f  c   n  n  ...   s  w   w   p   w  o   p   k   s  u
3     e  x  s  g  f   n  f  w   b  k  ...   s  w   w   p   w  o   e   n   a  g
4     e  x  y  y  t   a  f  c   b  n  ...   s  w   w   p   w  o   p   k   n  g
...  .. .. .. .. ..  .. .. ..  .. ..  ...  .. ..  ..  ..  .. ..  ..  ..  .. ..
8118  e  k  s  n  f   n  a  c   b  y  ...   s  o   o   p   o  o   p   b   c  l
8119  e  x  s  n  f   n  a  c   b  y  ...   s  o   o   p   n  o   p   b   v  l
8120  e  f  s  n  f   n  a  c   b  n  ...   s  o   o   p   o  o   p   b   c  l
8121  p  k  y  n  f   y  f  c   n  b  ...   k  w   w   p   w  o   e   w   v  l
8122  e  x  s  n  f   n  a  c   b  y  ...   s  o   o   p   o  o   p   o   c  l

[8123 rows x 23 columns]

In [39]:
df = data.copy()
k =['p', 'x', 's', 'n', 'p.1']
l = df.loc[:, k]
l

      p  x  s  n p.1
0     e  x  s  y   a
1     e  b  s  w   l
2     p  x  y  w   p
3     e  x  s  g   n
4     e  x  y  y   a
...  .. .. .. ..  ..
8118  e  k  s  n   n
8119  e  x  s  n   n
8120  e  f  s  n   n
8121  p  k  y  n   y
8122  e  x  s  n   n

[8123 rows x 5 columns]

In [71]:
df = pd.DataFrame({'A':[1,2,3],
                   'B':[4,5,6],
                   'C':[7,8,9],
                   'D':[1,3,5],
                   'E':[5,3,6],
                   'F':[7,4,3]})
s = pd.Series([1,2,3])

tf = df.ne(s, axis=0).sum(1)
tf

0    4
1    5
2    4
dtype: int64

In [70]:
tf.sum(1)

0    4
1    5
2    4
dtype: int64